---
BasedOnStyle: llvm
ColumnLimit: 100
---
Language: Cpp
IndentWidth: 4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
InsertNewlineAtEOF: true # 16
InsertBraces: true # 15
