# Based on https://github.com/marketplace/actions/git-clang-format-action

name: "Format code"

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/tests.yml

  format:
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64

      - name: Get files to apply Clang
        run: echo SRC=$(git ls-tree --full-tree -r HEAD | cut -f 2 | grep -e "\.\(c\|h\)\$" | grep -v ^extern) >> $GITHUB_ENV

      - name: Apply Clang
        run: clang-format -style=file --fallback-style=llvm -i $SRC

      - name: commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "style(clang): apply format"
          commit_user_name: github-actions
          commit_author: github-actions <action@github.com>
          commit_user_email: action@github.com
